Schirronimo/Assets/TextMesh Pro.meta
Schirronimo/Assets/TextMesh Pro/Documentation.meta
Schirronimo/Assets/TextMesh Pro/Fonts.meta
Schirronimo/Assets/TextMesh Pro/Resources.meta
Schirronimo/Assets/TextMesh Pro/Shaders.meta
Schirronimo/Assets/TextMesh Pro/Sprites.meta
Schirronimo/Assets/TextMesh Pro/Documentation/TextMesh Pro User Guide 2016.pdf
Schirronimo/Assets/TextMesh Pro/Documentation/TextMesh Pro User Guide 2016.pdf.meta
Schirronimo/Assets/TextMesh Pro/Fonts/LiberationSans - OFL.txt
Schirronimo/Assets/TextMesh Pro/Fonts/LiberationSans - OFL.txt.meta
Schirronimo/Assets/TextMesh Pro/Fonts/LiberationSans.ttf
Schirronimo/Assets/TextMesh Pro/Fonts/LiberationSans.ttf.meta
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials.meta
Schirronimo/Assets/TextMesh Pro/Resources/LineBreaking Following Characters.txt
Schirronimo/Assets/TextMesh Pro/Resources/LineBreaking Following Characters.txt.meta
Schirronimo/Assets/TextMesh Pro/Resources/LineBreaking Leading Characters.txt
Schirronimo/Assets/TextMesh Pro/Resources/LineBreaking Leading Characters.txt.meta
Schirronimo/Assets/TextMesh Pro/Resources/Sprite Assets.meta
Schirronimo/Assets/TextMesh Pro/Resources/Style Sheets.meta
Schirronimo/Assets/TextMesh Pro/Resources/TMP Settings.asset
Schirronimo/Assets/TextMesh Pro/Resources/TMP Settings.asset.meta
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Drop Shadow.mat
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Drop Shadow.mat.meta
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset.meta
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Outline.mat
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Outline.mat.meta
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Schirronimo/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset.meta
Schirronimo/Assets/TextMesh Pro/Resources/Sprite Assets/EmojiOne.asset
Schirronimo/Assets/TextMesh Pro/Resources/Sprite Assets/EmojiOne.asset.meta
Schirronimo/Assets/TextMesh Pro/Resources/Style Sheets/Default Style Sheet.asset
Schirronimo/Assets/TextMesh Pro/Resources/Style Sheets/Default Style Sheet.asset.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_Bitmap.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_Bitmap.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_Bitmap-Custom-Atlas.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_Bitmap-Custom-Atlas.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_Bitmap-Mobile.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_Bitmap-Mobile.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF Overlay.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF Overlay.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF SSD.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF SSD.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile Masking.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile Masking.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile Overlay.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile Overlay.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile SSD.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile SSD.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Surface.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Surface.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Surface-Mobile.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_SDF-Surface-Mobile.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_Sprite.shader
Schirronimo/Assets/TextMesh Pro/Shaders/TMP_Sprite.shader.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMPro.cginc
Schirronimo/Assets/TextMesh Pro/Shaders/TMPro.cginc.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMPro_Mobile.cginc
Schirronimo/Assets/TextMesh Pro/Shaders/TMPro_Mobile.cginc.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMPro_Properties.cginc
Schirronimo/Assets/TextMesh Pro/Shaders/TMPro_Properties.cginc.meta
Schirronimo/Assets/TextMesh Pro/Shaders/TMPro_Surface.cginc
Schirronimo/Assets/TextMesh Pro/Shaders/TMPro_Surface.cginc.meta
Schirronimo/Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt
Schirronimo/Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt.meta
Schirronimo/Assets/TextMesh Pro/Sprites/EmojiOne.json
Schirronimo/Assets/TextMesh Pro/Sprites/EmojiOne.json.meta
Schirronimo/Assets/TextMesh Pro/Sprites/EmojiOne.png
Schirronimo/Assets/TextMesh Pro/Sprites/EmojiOne.png.meta
